{deps, [
        {pbkdf2,        {git, "git://github.com/marianoguerra/erlang-pbkdf2-no-history", {branch, "master"}}},
        {exometer_core, {git, "git://github.com/basho/exometer_core.git",                {branch, "th/correct-dependencies"}}},
        {riak_core,     {git, "git://github.com/basho/riak_core",                        {branch, "develop"}}},
        {eleveldb,      {git, "git://github.com/basho/eleveldb.git",                     {tag, "2.0.30"}}}
]}.
